---
title: BGS BLOG
layout: 'base.njk'
---
 
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to BGS PUBLIC SCHOOL'S BLOGS</h1>
        <p>we use this space to document our adventures in progression of our school through the years, sharing how we’ve overcome issues we’ve run into, useful resources, and more.</p>
        <p>Below are some of our top articles, or you can go to the blog page to see all our posts.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">All Articles</a>
        </div>
      </div>
      <div>
        <img src="assets/school-main.png" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here are some of our articles that are viewed by many.</p>
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    
    </ul>
  </div>
</section> 

